package layouts

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			// prevent swap from every error except the 422
			// when error occurs show a toast instead of replacing
			<meta
				name="htmx-config"
				content='{"noSwap":[204,304,400,401,403,404,405,406,408,409,410,411,412,413,414,415,416,417,418,421,423,424,425,426,428,429,431,451,"5xx"]}'
			/>
			<title>{ title }</title>
			<link href="/static/app.css" rel="stylesheet"/>
			<script defer src="/static/htmx-4.0.0.min.js"></script>
			<script>
				const script = document.createElement("script");

				script.src = "/static/echarts-6.0.0.min.js";

				script.onload = () => {
					window.chartsLoaded = true;
				};

				script.onerror = () => {
					console.log("Chart script failed to load");
				};

				document.head.appendChild(script);
			</script>
			<script defer src="/static/app.js"></script>
			<script>
				// sets the sidebar state
				let c = localStorage.getItem("collapsed") === "true";
				document.documentElement.classList.toggle("is-sidebar-collapsed", c);

				// sets the theme early to avoid "theme flash"
				const theme = localStorage.getItem("theme") || "system";
				const prefersDark = window.matchMedia(
					"(prefers-color-scheme: dark)",
				).matches;
				const isDark = theme === "dark" || (theme === "system" && prefersDark);

				if (isDark) {
					document.documentElement.setAttribute("data-theme", "dark");
				}
			</script>
		</head>
		<body>
			{ children... }
		</body>
		<div id="toast-root"></div>
	</html>
}
