package layouts

import "github.com/fdanctl/piggytron/web/templates/components"

templ LogLayout() {
	<main id="login-main">
		<section id="content">
			<header>
				@components.Logo()
			</header>
			<div>
				{ children... }
			</div>
		</section>
		<section id="coin-matrix">
			<div class="img-container">
				@components.Asset1()
			</div>
		</section>
		<script src="/static/coin-matrix.js">
		</script>
	</main>
}
