package layouts

import "github.com/fdanctl/piggytron/web/templates/components"

templ Main() {
	@components.Sidebar()
	@components.Header()
	<main class="main" tabindex="-1" hx-history-elt>
		<div id="content">
			{ children... }
		</div>
	</main>
	<div id="dialog-root">
		<dialog
			id="nav-sheet"
			class="dialog"
		>
			<div>
				<div></div>
			</div>
			@components.Nav()
		</dialog>
	</div>
}
