#banks-container {
  display: grid;
  gap: var(--spacing-sm);
  grid-template-areas:
    "summary"
    "asset-breakdown"
    "account-history"
    "accounts"
    "recent-transactions";
}

#summary {
  grid-area: summary;
}

#asset-breakdown {
  grid-area: asset-breakdown;
}

#account-history {
  grid-area: account-history;
}

#accounts {
  grid-area: accounts;
  height: 100%;
}

#accounts > .card {
  height: 100%;
}

#recent-transactions {
  grid-area: recent-transactions;
}

@container main (min-width: 620px) {
  #banks-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "summary summary summary summary summary summary"
      "account-history account-history account-history asset-breakdown asset-breakdown asset-breakdown "
      "recent-transactions recent-transactions recent-transactions recent-transactions accounts accounts";
  }
}

@container main (min-width: 800px) {
  #banks-container {
    grid-template-areas:
      "summary summary summary summary summary summary"
      "account-history account-history account-history account-history asset-breakdown asset-breakdown"
      "recent-transactions recent-transactions recent-transactions recent-transactions accounts accounts";
  }
}

/* resizing down would fail */
#banks-container > section {
  min-width: 0;
}

#recent-transactions .transaction,
#dashboard-rt .transaction {
  border: none;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--color-border-secondary);
}

#recent-transactions .transaction:last-child,
#dashboard-rt .transaction:last-child {
  border-bottom: none;
}

#recent-transactions .transaction:hover,
#dashboard-rt .transaction:hover {
  background-color: transparent;
}

.account-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-sm);
  border: 1px solid var(--color-border-secondary);
  border-radius: var(--radius-sm);
  transition: 150ms ease;
}

.account-card svg {
  stroke-width: 1.5px;
}

.account-card:hover {
  background-color: var(--color-secondary);
}

#accounts .card__title {
  margin-bottom: var(--spacing-md);
}
