.month-pill {
  display: flex;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  align-items: center;
  z-index: 10;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-xl);
}

.month-pill button {
  border-radius: var(--radius-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
}
.month-pill button svg {
  width: 14px;
  height: 14px;
}
.month-pill span {
  font-size: 10px;
}

.month-pill button:hover {
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

.month-pill .input {
  display: flex;
  justify-content: space-between;
  border: none;
  color: var(--color-primary);
  background-color: rgba(var(--color-primary-rgb), 0.1);
  width: 90px;
  border-radius: var(--radius-xl);
}

.month-pill .input:focus,
.month-pill .input:hover {
  box-shadow: none;
  background-color: rgba(var(--color-primary-rgb), 0.2);
}

.card .month-pill {
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
}

.bank-balance {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: var(--spacing-sm);
}

@container main (min-width: 600px) {
  .bank-balance {
    flex-direction: row;
    justify-content: space-between;
  }
}

.bank-chart__legend {
  display: flex;
  gap: var(--spacing-md);
  font-size: 0.875rem;
  color: var(--color-text-secondary);
  margin-top: calc(-1 * var(--spacing-lg));
  border-top: 1px solid var(--color-border);
  padding-top: var(--spacing-sm);
  justify-content: space-between;
}

.bank-chart__legend-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.bank-chart__legend-circle {
  height: 8px;
  width: 8px;
  border-radius: 100%;
}

.bank-chart__legend-circle.in {
  background-color: var(--color-positive);
}
.bank-chart__legend-circle {
  background-color: var(--color-negative);
}
