.goal-amount-target {
  display: flex;
  gap: var(--spacing-xs);
  align-items: baseline;

  @container main (min-width: 600px) {
    display: flex;
  }
}

.goal-actions {
  display: none;
  gap: var(--spacing-xs);

  @container main (min-width: 600px) {
    display: flex;
  }
}

.goal-grid {
  display: grid;
  gap: var(--spacing-md);

  @container main (min-width: 675px) {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }
}

@scope (.goal-grid) {
  @container main (min-width: 675px) {
    #goal-details {
      order: 2;
    }
  }
}

#goal-details {
  height: fit-content;
  position: sticky;
  top: 0;
}

.goal-details__pen-btn {
  width: fit-content;
  height: fit-content;
  display: flex;
  cursor: pointer;
  color: var(--color-text-secondary);
}

.goal-details__pen-btn:hover {
  color: var(--color-text);
}

.goal-details__item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-border-secondary);
  padding: var(--spacing-xs) 0;
}

.goal-details__key {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
}

.goal-details__value {
  font-size: var(--font-size-sm);
  font-weight: 500;
}

.mobile-contribute-btn {
  width: 100%;

  @container main (min-width: 600px) {
    display: none;
  }
}
