package partials

import (
	"fmt"
	"github.com/fdanctl/piggytron/web/views"
	"golang.org/x/text/currency"
	"golang.org/x/text/language"
)

templ AccountItem(v views.Bank) {
	<li>
		<a class="account-card" href={ fmt.Sprint("/banks/", v.ID) }>
			<div class="">
				<p>
					{ v.Name }
				</p>
				<p class="text-xs text-muted">
					if v.IsSavings {
						Savings
					} else {
						Checking
					}
				</p>
			</div>
			<div class="font-medium">
				{ views.FormatMoney(float64(v.Amount)/100, currency.EUR, language.AmericanEnglish) }
			</div>
		</a>
	</li>
}
