package partials

import (
	"fmt"
	"github.com/fdanctl/piggytron/web/templates/components"
	"github.com/fdanctl/piggytron/web/views"
	"golang.org/x/text/currency"
	"golang.org/x/text/language"
	"strings"
)

templ BankChartCard(bankID string, chart templ.Component, moneyIn, moneyOut int, transactions int, period string, selectPill bool) {
	{{
		periodLabel := period
		if periodLabel == "all" {
			periodLabel = views.CapitalizeFirst(periodLabel)
		} else {
			periodLabel = strings.ToUpper(period)
		}
	}}
	if selectPill {
		@components.SelectPill("", periodLabel, period, components.SelectPillLeft, []components.SelectOption{
			{Label: "MTD", Value: "mtd"},
			{Label: "6M", Value: "6m"},
			{Label: "YTD", Value: "ytd"},
			{Label: "1Y", Value: "1y"},
			{Label: "All", Value: "all"},
		}, templ.Attributes{
			"name":      "period",
			"hx-get":    fmt.Sprint("/partials/charts/bank-hist/", bankID),
			"hx-target": "#bank-chart-card",
		})
	}
	<div
		class="chart-container"
		style="margin-top: calc(-1 * var(--spacing-md));"
	>
		@chart
	</div>
	<div class="bank-chart__legend">
		<div class="flex gap-md">
			<div class="bank-chart__legend-item">
				<span class="bank-chart__legend-circle bank-chart__legend-circle--in"></span>
				<span>In</span>
				<span class="text-positive">+{  views.FormatMoney(float64(moneyIn)/100,currency.EUR, language.AmericanEnglish) }</span>
			</div>
			<div class="bank-chart__legend-item">
				<span class="bank-chart__legend-circle bank-chart__legend-circle--out"></span>
				<span>Out</span>
				<span class="text-negative">–{  views.FormatMoney(float64(moneyOut)/100,currency.EUR, language.AmericanEnglish) }</span>
			</div>
		</div>
		<div>
			{ transactions } transactions
		</div>
	</div>
}

templ AccountHistCard(chart templ.Component, period string) {
	{{
		periodLabel := period
		if periodLabel == "all" {
			periodLabel = views.CapitalizeFirst(periodLabel)
		} else {
			periodLabel = strings.ToUpper(period)
		}
	}}
	@components.SelectPill("", periodLabel, period, components.SelectPillLeft, []components.SelectOption{
		{Label: "MTD", Value: "mtd"},
		{Label: "6M", Value: "6m"},
		{Label: "YTD", Value: "ytd"},
		{Label: "1Y", Value: "1y"},
		{Label: "All", Value: "all"},
	}, templ.Attributes{
		"name":      "period",
		"hx-get":    "/partials/charts/accounts-history",
		"hx-target": "next .chart-container",
		"hx-select": ".chart-container",
	})
	<div
		class="chart-container"
	>
		@chart
	</div>
}
