package partials

import (
	"github.com/fdanctl/piggytron/web/templates/components"
	"github.com/fdanctl/piggytron/web/views"
)

templ CategoryItem(cat views.Category, attrs templ.Attributes) {
	<li { attrs... } class={ "category-item", templ.KV("category-item--archived", cat.GetStatus() == "archived") }>
		<a class="flex justify-between items-center" href={ "/categories/" + cat.GetID() }>
			<div>
				{ cat.GetName() }
			</div>
			<div class="space-x-xs">
				if cat.GetStatus() == "archived" {
					@components.Badge("", "Archived", components.BadgeClosed)
				}
				switch cat.GetExpenseType() {
					case "needs":
						@components.Badge("", "Needs", components.BadgeNeeds)
					case "wants":
						@components.Badge("", "Wants", components.BadgeWants)
					case "savings":
						@components.Badge("", "Savings", components.BadgeSavings)
				}
			</div>
		</a>
	</li>
}
