package partials

import (
	"github.com/fdanctl/piggytron/web/templates/components"
	"github.com/fdanctl/piggytron/web/views"
)

templ ChangePasswordForm(v views.ChangePasswordForm) {
	<form
		class="card mt-md"
		hx-on:submit="event.preventDefault()"
		hx-post="/partials/auth/change-password"
		hx-swap="outerHTML"
		novalidate
	>
		<h6 class="card__title">Change Password</h6>
		<div class="grid grid-cols-3 gap-sm">
			@components.InputGroup(
				"",
				"Current Password",
				views.StringArrToStr(v.ValidateCurrentPassword()),
				v.CurrentPasswordHasError(),
				true,
				templ.Attributes{
					"id":    "current-password",
					"type":  "password",
					"name":  "current-password",
					"value": v.CurrentPassword,
				},
			)
			@components.InputGroup(
				"",
				"New Password",
				"",
				v.NewPasswordHasError(),
				true,
				templ.Attributes{
					"id":    "new-password",
					"type":  "password",
					"name":  "new-password",
					"value": v.NewPassword,
				},
			)
			@components.InputGroup(
				"",
				"Confirm New Password",
				views.StringArrToStr(v.ValidateNewPassword()),
				v.NewPasswordHasError(),
				true,
				templ.Attributes{
					"id":    "new-password-confirm",
					"type":  "password",
					"name":  "new-password-confirm",
					"value": v.NewPasswordConfirm,
				},
			)
		</div>
		<div class="flex justify-end mt-lg">
			@components.Button("Update password", "", components.BtnPrimary, components.BtnMedium, templ.Attributes{"type": "submit"})
		</div>
	</form>
}
