package pages

import (
	"fmt"
	"github.com/fdanctl/piggytron/web/templates/components"
	"github.com/fdanctl/piggytron/web/templates/partials"
	"github.com/fdanctl/piggytron/web/views"
)

templ Account(
	bview views.BreadcrumbsView,
	profileForm views.ProfileForm,
	changePasswordForm views.ChangePasswordForm,
) {
	@components.Breadcrumbs(bview)
	<div class="card">
		<h6 class="card__title">Profile Information</h6>
		<div class="grid gap-md" style="grid-template-columns: auto 1fr">
			<div class="flex flex-col items-center gap-xs">
				<div class="avatar__with-overlay">
					@components.Avatar("", "", components.XXL)
					<div class={ "avatar__overlay", fmt.Sprintf("size-%d", components.SizeMap[components.XXL]) } data-action="ui.element.click" data-target="find input[type='file']">
						@components.CameraSvg(30, "", "")
						<input
							id="upload"
							name="pfp"
							type="file"
							accept="image/*"
							hx-get="partials/user/edit-pfp"
							hx-swap="outerHTML"
							hx-target="closest .avatar__with-overlay img"
							hidden
						/>
					</div>
				</div>
				@components.Button("Edit photo", "mt-xs", components.BtnOutline, components.BtnSmall, templ.Attributes{"type": "submit", "data-action": "ui.element.click", "data-target": "#upload"})
			</div>
			@partials.ProfileForm(profileForm)
		</div>
	</div>
	@partials.ChangePasswordForm(changePasswordForm)
	<div class="card card--danger mt-md">
		<h6 class="card__title">Danger zone</h6>
		<div class="flex items-center gap-sm">
			@components.ShieldAlertSvg(0, "", "block")
			<div style="flex: 1;">
				<p>Delete account</p>
				<p
					class="text-muted text-sm"
					style="margin-top: calc(-1*var(--spacing-xs)"
				>Permanently deletes your account and all associated data.</p>
			</div>
			@components.Button("Delete account", "h-fit", components.BtnDestructive, components.BtnMedium, nil)
		</div>
	</div>
	<div class="display flex flex-col items-center gap-xs mt-md">
		@components.ButtonWithIcon("Logout", "btn--destructive-hover", components.BtnGhost, components.BtnMedium, templ.Attributes{
			"hx-get": "/partials/auth/logout",
		}, components.IconRigth, components.LogOutSvg(0, "", ""))
		@components.ButtonWithIcon("Logout of all devices", "btn--destructive-hover", components.BtnGhost, components.BtnMedium, templ.Attributes{
			"hx-get": "/partials/auth/logout?all=t",
		}, components.IconRigth, components.LogOutSvg(0, "", ""))
	</div>
}
