package pages

import (
	"fmt"

	"github.com/fdanctl/piggytron/internal/query"
	"github.com/fdanctl/piggytron/web/templates/components"
	"github.com/fdanctl/piggytron/web/templates/partials"
	"github.com/fdanctl/piggytron/web/views"
)

templ Categories(bview views.BreadcrumbsView, cc []query.CategoryDTO) {
	<div class="flex justify-between">
		@components.Breadcrumbs(bview)
		@components.IconDropdown("", components.EllipsisSvg(0, "", ""), true, nil) {
			<ul class="breadcrumbs-selection">
				<li>
					<button
						class="reset-btn text-sm"
						data-action="ui.popover.hide category.archived.toggle"
					>Toggle archived</button>
				</li>
			</ul>
		}
	</div>
	{{
		var incomeCount int
		var expenseCount int
		var archivedIncome []query.CategoryDTO
		var archivedExpenses []query.CategoryDTO
		for _, c := range cc {
			if c.Type == "income" {
				incomeCount++
			} else {
				expenseCount++
			}
			if c.Status == "archived" {
				if c.Type == "income" {
					archivedIncome = append(archivedIncome, c)
				} else {
					archivedExpenses = append(archivedExpenses, c)
				}
			}
		}
	}}
	<div id="categories-container">
		<section id="income-cat">
			<div>
				<h4>Income (<span class="count-wo-archived">{ incomeCount - len(archivedIncome) }</span><span class="count-wt-archived">{ incomeCount }</span>)</h4>
				@components.ButtonWithIcon(
					"Add",
					"",
					components.BtnOutline,
					components.BtnSmall,
					templ.Attributes{
						"hx-get":    "/partials/income-category",
						"hx-target": "#dialog-root",
						"hx-swap":   "append",
					},
					components.IconLeft,
					components.PlusSvg(0, "", ""),
				)
			</div>
			<ul
				hx-target:inherited="#content"
				hx-boost:inherited="true"
				hx-swap:inherited="innerHTML transition:true"
			>
				for i := 0; i < incomeCount; i++ {
					if cc[i].Status != "archived" {
						@partials.CategoryItem(cc[i], templ.Attributes{
							"style": fmt.Sprintf("animation-delay: %dms", i*30),
						})
					}
				}
				for i, cat := range archivedIncome {
					@partials.CategoryItem(cat, templ.Attributes{
						"style": fmt.Sprintf("animation-delay: %dms", i*30),
					})
				}
			</ul>
			@components.EmptyCategory("income")
		</section>
		<section id="expense-cat">
			<div>
				<h4>Expenses (<span class="count-wo-archived">{ expenseCount - len(archivedExpenses) }</span><span class="count-wt-archived">{ expenseCount }</span>)</h4>
				@components.ButtonWithIcon(
					"Add",
					"",
					components.BtnOutline,
					components.BtnSmall,
					templ.Attributes{
						"hx-get":    "/partials/expense-category",
						"hx-target": "#dialog-root",
						"hx-swap":   "append",
					},
					components.IconLeft,
					components.PlusSvg(0, "", ""),
				)
			</div>
			<ul
				hx-target:inherited="#content"
				hx-boost:inherited="true"
				hx-swap:inherited="innerHTML transition:true"
			>
				for i := incomeCount; i < len(cc); i++ {
					if cc[i].Status != "archived" {
						@partials.CategoryItem(cc[i], templ.Attributes{
							"style": fmt.Sprintf("animation-delay: %dms", (i-incomeCount)*30),
						})
					}
				}
				for i, cat := range archivedExpenses {
					@partials.CategoryItem(cat, templ.Attributes{
						"style": fmt.Sprintf("animation-delay: %dms", i*30),
					})
				}
			</ul>
			@components.EmptyCategory("expense")
		</section>
	</div>
}
