package pages

import (
	"fmt"
	"github.com/fdanctl/piggytron/web/templates/components"
	"github.com/fdanctl/piggytron/web/templates/partials"
	"github.com/fdanctl/piggytron/web/views"
)

templ Dashboard(
	bview views.BreadcrumbsView,
	mockTransactions []views.Transaction,
) {
	<div class="flex justify-between">
		@components.Breadcrumbs(bview)
	</div>
	<a href="/budget" class="to-budget w-full mb-lg">
		<span class="to-budget__icon">
			@components.InfoSvg(16, "", "")
		</span>
		<p class="to-budget__p">
			<strong class="font-medium">170€ left to budget.</strong> Assign it to categories before it goes untracked.
		</p>
		@components.Button("Go to budget", "", components.BtnOutline, components.BtnSmall, nil)
	</a>
	<div id="dashboard-container">
		<div id="dashboard-stats" class="dashboard-stats">
			<div class="card">
				<h6 class="card__title mb-xs" style="margin-bottom: var(--spacing-xs);">Income</h6>
				<p class="metric__value metric__value--xl">
					$7,250.00
				</p>
				<p class="metric__sub mt-xs">
					this month
				</p>
			</div>
			<div class="card">
				<h6 class="card__title mb-xs">Spent</h6>
				<p class="metric__value metric__value--xl">
					$3,572.31
				</p>
				<p class="metric__sub mt-xs">
					65% of budget
				</p>
			</div>
			<div class="card">
				<h6 class="card__title mb-xs">Savings</h6>
				<p class="metric__value metric__value--xl">
					$1,747.00
				</p>
				<p class="metric__sub mt-xs">
					across savings accounts
				</p>
			</div>
			<div class="card">
				<h6 class="card__title mb-xs">Balance</h6>
				<p class="metric__value metric__value--xl">
					$4,016.45
				</p>
				<p class="metric__sub mt-xs">
					across checking accounts
				</p>
			</div>
		</div>
		<div id="dashboard-bs">
			<div class="card">
				<h6 class="card__title">Budget-spent by category</h6>
				<div
					class="chart-container"
					hx-get="/partials/charts/cat-hist/5d73ddb6-f839-4b83-8457-ac238ca66bec"
					hx-trigger="load"
				>
					@components.Loader("htmx-indicator h-full", nil)
				</div>
			</div>
		</div>
		<div id="dashboard-st">
			<div class="card">
				<h6 class="card__title">Spent by type</h6>
				<div
					class="chart-container"
					hx-get="/partials/charts/banks"
					hx-trigger="load"
				>
					@components.Loader("h-full", nil)
				</div>
			</div>
		</div>
		<div id="dashboard-ah">
			<div class="card">
				<div>
					<h6 class="card__title">Account history</h6>
					// last 30 days, change
				</div>
				<div
					id="account-history-chart"
					class="chart-container"
				>
					@components.Loader("h-full", nil)
				</div>
			</div>
		</div>
		<div id="dashboard-mp">
			<div class="card" style="display: grid; grid-template-rows: auto 1fr auto;">
				<h6 class="card__title">Month progress</h6>
				<div>
					<div class="mb-md">
						<div class="flex justify-between items-end mb-xs">
							<p class="">
								Day 3 of 31
							</p>
							<p class="">
								28d left
							</p>
						</div>
						@components.ProgressBar("progress-bar--xs", 3)
					</div>
					<div>
						<div class="flex justify-between items-end mb-xs">
							<p class="">
								Spent so far
							</p>
							<p class="">
								65%
							</p>
						</div>
						@components.ProgressBar("progress-bar--xs", 65)
					</div>
					<p class="mt-md text-sm text-muted">
						At this pace you'll spend <span style="color: var(--color-text);">$36,913.87</span> by month end.
					</p>
				</div>
				<div class="flex gap-md mt-md" style="padding-top: var(--spacing-md); justify-content: space-around; border-top: 0.5px solid var(--color-border);">
					<div>
						<div class="" style="text-align: center;">
							Avg spent
						</div>
						<div class=" font-mono" style="color: var(--color-primary);">
							$3,465.14/day
						</div>
					</div>
					<div>
						<div class="" style="text-align: center;">
							Avg left
						</div>
						<div class=" font-mono" style="color: var(--color-primary);">
							$3,465.14/day
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="dashboard-rt">
			<div class="card">
				<h6 class="card__title">Recent transactions</h6>
				<div>
					<ul>
						for i, t := range mockTransactions {
							@partials.TransactionItem(t, templ.Attributes{
								"style": fmt.Sprintf("animation-delay: %dms", i*30),
							})
						}
					</ul>
					<a href="/ledger" class="text-center" style="display: block;">view all transactions</a>
				</div>
			</div>
		</div>
		<div id="dashboard-gp">
			<div class="card">
				<h6 class="card__title">Goals</h6>
				<div class="space-y-md">
					<div>
						<div style="display: flex; justify-content: space-between; margin-bottom: 6px;">
							<span class="">Emergency Fund</span>
							<div class="flex gap-xs" style="align-items: baseline;">
								<span class="text-sm font-mono">
									$1,500.00
								</span>
								<span class="text-xs text-muted font-mono">
									/ $5,000.00
								</span>
							</div>
						</div>
						@components.ProgressBar("progress-bar--xs", 66)
						<div class="mt-xs flex justify-between">
							<span class="text-xs text-muted">
								66% funded
							</span>
							<span class="text-xs text-muted">
								$3,500.00 to go
							</span>
						</div>
					</div>
					<div>
						<div style="display: flex; justify-content: space-between; margin-bottom: 6px;">
							<span class="">Emergency Fund</span>
							<div class="flex gap-xs" style="align-items: baseline;">
								<span class="text-sm font-mono">
									$1,500.00
								</span>
								<span class="text-xs text-muted font-mono">
									/ $5,000.00
								</span>
							</div>
						</div>
						@components.ProgressBar("progress-bar--xs", 66)
						<div class="mt-xs flex justify-between">
							<span class="text-xs text-muted">
								66% funded
							</span>
							<span class="text-xs text-muted">
								$3,500.00 to go
							</span>
						</div>
					</div>
					<div>
						<div style="display: flex; justify-content: space-between; margin-bottom: 6px;">
							<span class="">Emergency Fund</span>
							<div class="flex gap-xs" style="align-items: baseline;">
								<span class="text-sm font-mono">
									$1,500.00
								</span>
								<span class="text-xs text-muted font-mono">
									/ $5,000.00
								</span>
							</div>
						</div>
						@components.ProgressBar("progress-bar--xs", 66)
						<div class="mt-xs flex justify-between">
							<span class="text-xs text-muted">
								66% funded
							</span>
							<span class="text-xs text-muted">
								$3,500.00 to go
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
