package pages

import (
	"fmt"
	"github.com/fdanctl/piggytron/web/templates/components"
	"github.com/fdanctl/piggytron/web/templates/partials"
	"github.com/fdanctl/piggytron/web/views"
	"golang.org/x/text/currency"
	"golang.org/x/text/language"
	"math"
)

templ Dashboard(
	bview views.BreadcrumbsView,
	view views.DashboardPage,
) {
	<div class="flex justify-between">
		@components.Breadcrumbs(bview)
	</div>
	if view.BudgetReadyToAssign > 0 {
		<a href="/budget" class="to-budget w-full mb-lg">
			<span class="to-budget__icon">
				@components.InfoSvg(16, "", "")
			</span>
			<p class="to-budget__p">
				<strong class="font-medium">{ views.FormatMoney(float64(view.BudgetReadyToAssign)/100,currency.EUR, language.AmericanEnglish) } left to budget.</strong> Assign it to categories before it goes untracked.
			</p>
			@components.Button("Go to budget", "", components.BtnOutline, components.BtnSmall, nil)
		</a>
	}
	<div id="dashboard-container">
		<section id="dashboard-stats" class="dashboard-stats">
			<div class="card">
				<h6 class="card__title mb-xs">Income</h6>
				<p class="metric__value metric__value--xl">
					{ views.FormatMoney(float64(view.Income)/100,currency.EUR, language.AmericanEnglish) }
				</p>
				<p class="metric__sub mt-xs">
					this month
				</p>
			</div>
			<div class="card">
				<h6 class="card__title mb-xs">Spent</h6>
				<p class="metric__value metric__value--xl">
					{ views.FormatMoney(float64(view.Spent)/100,currency.EUR, language.AmericanEnglish) }
				</p>
				<p class="metric__sub mt-xs">
					{ views.FormatFloat(view.SpentPct) }% of budget
				</p>
			</div>
			<div class="card">
				<h6 class="card__title mb-xs">Savings</h6>
				<p class="metric__value metric__value--xl">
					{ views.FormatMoney(float64(view.Savings)/100,currency.EUR, language.AmericanEnglish) }
				</p>
				<p class="metric__sub mt-xs">
					across savings accounts
				</p>
			</div>
			<div class="card">
				<h6 class="card__title mb-xs">Balance</h6>
				<p class="metric__value metric__value--xl">
					{ views.FormatMoney(float64(view.Balance)/100,currency.EUR, language.AmericanEnglish) }
				</p>
				<p class="metric__sub mt-xs">
					across checking accounts
				</p>
			</div>
		</section>
		<section id="dashboard-bs">
			<div class="card">
				<h6 class="card__title">Budget-spent by category</h6>
				<div
					class="chart-container"
					hx-get="/partials/charts/dashboard-budget-spent"
					hx-trigger="load"
					hx-swap="outerHTML"
					hx-target="closest .card"
				>
					@components.Loader("h-full", nil)
				</div>
			</div>
		</section>
		<section id="dashboard-st">
			<div class="card">
				<h6 class="card__title">Budget-spent by type</h6>
				<div class="chart-container">
					@components.Loader("h-full", nil)
				</div>
			</div>
		</section>
		<section id="dashboard-ah">
			<div class="card relative">
				<h6 class="card__title">Account history</h6>
				<div
					class="chart-container"
					hx-get="/partials/charts/accounts-history?period=ytd"
					hx-trigger="load"
				>
					@components.Loader("h-full", nil)
				</div>
			</div>
		</section>
		<section id="dashboard-mp">
			<div class="card" style="display: grid; grid-template-rows: auto 1fr auto;">
				<h6 class="card__title">Month progress</h6>
				<div>
					<div class="mb-md">
						<div class="flex justify-between items-end mb-xs">
							<p class="">
								Day { view.CurrDay } of { view.MonthDayLength }
							</p>
							<p class="">
								{ view.MonthDayLength-view.CurrDay }d left
							</p>
						</div>
						@components.ProgressBar("progress-bar--xs", float64(view.CurrDay)/float64(view.MonthDayLength)*100)
					</div>
					<div>
						<div class="flex justify-between items-end mb-xs">
							<p class="flex items-center gap-xs">
								Spent so far
								<span
									class="flex h-full item-end"
									style="anchor-name: --spent-so-far-info"
									data-name="spent-so-far-info"
									data-delay="200"
									data-mouseover="ui.popover.show"
									data-mouseout="ui.popover.hide"
								>
									@components.CircleQuestionMarkSvg(14, "", "")
								</span>
							</p>
							<p class="">
								{ views.FormatFloat(view.SpentPct) }%
							</p>
						</div>
						if view.SpentPct < 100 {
							@components.ProgressBar("progress-bar--xs", view.SpentPct)
						} else {
							@components.ProgressBar("progress-bar--xs progress-bar--negative", view.SpentPct)
						}
						@components.Tooltip(
							"",
							fmt.Sprintf(
								"Spent %s of %s budgeted",
								views.FormatMoney(float64(view.Spent)/100, currency.EUR, language.AmericanEnglish),
								views.FormatMoney(float64(view.Budget)/100, currency.EUR, language.AmericanEnglish),
							),
							"spent-so-far-info",
							components.TopRight,
							nil,
						)
					</div>
					<p class="mt-md text-sm text-muted">
						At this pace you'll spend <span style="color: var(--color-text);">{  views.FormatMoney(float64(view.AvgSpent*(view.MonthDayLength-view.CurrDay))/100,currency.EUR, language.AmericanEnglish) }</span> by month end.
					</p>
				</div>
				<div class="flex gap-md mt-md" style="padding-top: var(--spacing-md); justify-content: space-around; border-top: 0.5px solid var(--color-border);">
					<div>
						<div class="" style="text-align: center;">
							Avg spent
						</div>
						<div class=" font-mono" style="color: var(--color-primary);">
							{  views.FormatMoney(float64(view.AvgSpent)/100,currency.EUR, language.AmericanEnglish) }/day
						</div>
					</div>
					<div>
						<div class="" style="text-align: center;">
							Avg left
						</div>
						<div class=" font-mono" style="color: var(--color-primary);">
							{  views.FormatMoney(float64(view.AvgLeft)/100,currency.EUR, language.AmericanEnglish) }/day
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="dashboard-rt">
			<div class="card">
				<h6 class="card__title">Recent transactions</h6>
				<div>
					<ul>
						for i, t := range view.RecentTransactions {
							@partials.TransactionItem(t, templ.Attributes{
								"style": fmt.Sprintf("animation-delay: %dms", i*30),
							})
						}
					</ul>
					<a href="/ledger" class="text-center" style="display: block;">view all transactions</a>
				</div>
			</div>
		</section>
		<section id="dashboard-gp">
			<div class="card">
				<h6 class="card__title">Goals</h6>
				<div
					class="space-y-sm"
					hx-target="#content"
					hx-boost="true"
					hx-swap="innerHTML transition:true"
				>
					for i, g := range view.Goals {
						if i < 4 {
							@GoalProgress(g)
						}
					}
					if len(view.Goals) - 4 > 0 {
						<div class="flex justify-end">
							<a class="text-xxs text-muted" href="/goals">{ len(view.Goals) - 4 } more</a>
						</div>
					}
				</div>
			</div>
		</section>
	</div>
}

templ GoalProgress(g views.Goal) {
	<div>
		<a href={ fmt.Sprintf("/goals/%s", g.ID) }>
			<div style="display: flex; justify-content: space-between; margin-bottom: 6px;">
				<span>{ g.Name }</span>
				<div class="flex gap-xs" style="align-items: baseline;">
					<span class="text-sm font-mono">
						{ g.Amount }
					</span>
					<span class="text-xs text-muted font-mono">
						/ { views.FormatMoney(float64(g.TargetAmount)/100,currency.EUR, language.AmericanEnglish) }
					</span>
				</div>
			</div>
			@components.ProgressBar("progress-bar--xs", g.CompletePercentage)
			<div class="mt-xs flex justify-between">
				<span class="text-xs text-muted">
					{  views.FormatFloat(g.CompletePercentage) }% funded
				</span>
				<span class="text-xs text-muted">
					{ g.AmountLeft } to go
				</span>
			</div>
		</a>
	</div>
}

templ ChartContainer(chart templ.Component) {
	<div class="chart-container">
		@chart
	</div>
}

templ CategorySpentProgress(name string, ttype string, spent, budgeted int, daysLeft int) {
	{{
		var pct float64 = 100
		if budgeted == 0 && spent == 0 {
			pct = 0
		} else if budgeted > 0 {
			pct = float64(spent) / float64(budgeted)
		}

		avgleft := int(
			math.Round(float64(budgeted-spent) / float64(daysLeft)),
		)
	}}
	<div>
		<div style="display: flex; justify-content: space-between; margin-bottom: 6px;">
			<span>{ name }</span>
			<div class="flex gap-xs" style="align-items: baseline;">
				<span class="text-sm font-mono">
					{  views.FormatMoney(float64(budgeted)/100,currency.EUR, language.AmericanEnglish) }
				</span>
				<span class="text-xs text-muted font-mono">
					/ { views.FormatMoney(float64(budgeted)/100,currency.EUR, language.AmericanEnglish) }
				</span>
			</div>
		</div>
		@components.ProgressBar(fmt.Sprintf("progress-bar--xs progress-bar--%s", ttype), pct)
		<div class="mt-xs flex justify-between">
			<span class="text-xs text-muted">
				{  views.FormatFloat(pct) }% of budget spent
			</span>
			<span class="text-xs text-muted">
				{  views.FormatMoney(float64(budgeted - spent)/100,currency.EUR, language.AmericanEnglish) } left
				<span style="font-size: var(--font-size-xxs);">
					({  views.FormatMoney(float64(avgleft)/100,currency.EUR, language.AmericanEnglish) }/day)
				</span>
			</span>
		</div>
	</div>
}

templ CategorySpentContainer(items []templ.Component) {
	<div class="space-y-sm px-lg mt-md">
		for _, v := range items {
			@v
		}
	</div>
}
