package pages

import (
	"fmt"
	"github.com/fdanctl/piggytron/web/templates/components"
	"github.com/fdanctl/piggytron/web/templates/partials"
	"github.com/fdanctl/piggytron/web/views"
	"golang.org/x/text/currency"
	"golang.org/x/text/language"
	"time"
)

templ Goal(bview views.BreadcrumbsView, g views.Goal, tt []views.Transaction, hasMore bool, ttCount int) {
	<div class="flex justify-between">
		@components.Breadcrumbs(bview)
		@components.IconDropdown("", components.EllipsisSvg(0, "", ""), true, nil) {
			<ul class="breadcrumbs-selection">
				if g.ClosedAt == nil {
					<li>
						<button
							hx-get={ fmt.Sprintf("/partials/goal-contribute/%s", g.ID) }
							hx-target="#dialog-root"
							hx-swap="beforeend"
							class="reset-btn text-sm"
							data-action="ui.popover.hide"
						>Contribute</button>
					</li>
					<li>
						<button
							hx-get={ fmt.Sprintf("/partials/goal/%s/complete", g.ID) }
							hx-target="#dialog-root"
							hx-swap="beforeend"
							class="reset-btn text-sm"
							data-action="ui.popover.hide"
						>Complete</button>
					</li>
					<li>
						<button
							hx-get={ fmt.Sprintf("/partials/goal/%s/cancel", g.ID) }
							hx-target="#dialog-root"
							hx-swap="beforeend"
							class="reset-btn text-sm"
							data-action="ui.popover.hide"
						>Cancel</button>
					</li>
				}
				<li>
					<button
						hx-trigger="confirmed"
						hx-delete={ fmt.Sprintf("/partials/bank/%s?type=goal", g.ID) }
						class="reset-btn text-sm"
						data-action="ui.popover.hide account.delete.confirm"
						data-transactions={ ttCount }
					>Delete</button>
				</li>
			</ul>
		}
	</div>
	<div class="flex justify-between">
		<div class="goal-amount-target">
			<h2>{ views.FormatMoney(float64(g.Amount/100), currency.EUR, language.AmericanEnglish) }</h2>
			<span class="text-base">/ { views.FormatMoney(float64(g.TargetAmount)/100,currency.EUR, language.AmericanEnglish) }</span>
			if g.Status == views.CompletedStatus {
				@components.Badge("capitalize", string(g.Status), components.BadgeChecking)
			}
			if g.Status == views.CancelledStatus {
				@components.Badge("capitalize", string(g.Status), components.BadgeClosed)
			}
		</div>
		<div class="goal-actions">
			if g.Status == views.ActiveStatus {
				@components.ButtonWithIcon(
					"Contribute",
					"",
					components.BtnSecondary,
					components.BtnMedium,
					templ.Attributes{
						"hx-get":    fmt.Sprintf("/partials/goal-contribute/%s", g.ID),
						"hx-target": "#dialog-root",
						"hx-swap":   "beforeend",
					},
					components.IconLeft,
					components.PlusSvg(0, "", ""),
				)
			} else if g.Status == views.FundedStatus {
				@components.ButtonWithIcon(
					"Complete",
					"",
					components.BtnPrimary,
					components.BtnMedium,
					templ.Attributes{
						"hx-get":    fmt.Sprintf("/partials/goal/%s/complete", g.ID),
						"hx-target": "#dialog-root",
						"hx-swap":   "beforeend",
					},
					components.IconLeft,
					components.CheckSvg(0, "", ""),
				)
			}
			@components.ButtonWithIcon(
				"Edit goal",
				"",
				components.BtnSecondary,
				components.BtnMedium,
				templ.Attributes{
					"hx-get":    fmt.Sprintf("/partials/goal/%s", g.ID),
					"hx-target": "#dialog-root",
					"hx-swap":   "beforeend",
				},
				components.IconLeft,
				components.SquarePenSvg(0, "", ""),
			)
		</div>
	</div>
	if g.ClosedAt != nil {
		@components.ProgressBar("progress-bar--animate progress-bar--neutral mt-md", g.CompletePercentage)
	} else {
		@components.ProgressBar("progress-bar--animate mt-md", g.CompletePercentage)
	}
	<div class="flex justify-between text-subtitle text-xs mt-xs">
		<span>
			{ views.FormatMoney(0.00, currency.EUR, language.AmericanEnglish) }
		</span>
		<span>
			{ views.FormatFloat(g.CompletePercentage) }% 
			if g.TargetDate != nil {
				· on track for { views.FormatDate(*g.TargetDate) }
			}
		</span>
		<span>
			{ views.FormatMoney(float64(g.TargetAmount)/100,currency.EUR, language.AmericanEnglish) }
		</span>
	</div>
	if g.Status == views.ActiveStatus {
		@components.ButtonWithIcon(
			"Contribute",
			"mobile-contribute-btn mt-xl",
			components.BtnSecondary,
			components.BtnMedium,
			templ.Attributes{
				"hx-get":    fmt.Sprintf("/partials/goal-contribute/%s", g.ID),
				"hx-target": "#dialog-root",
				"hx-swap":   "beforeend",
			},
			components.IconLeft,
			components.PlusSvg(0, "", ""),
		)
	} else if g.Status == views.FundedStatus {
		@components.ButtonWithIcon(
			"Complete",
			"mobile-contribute-btn mt-xl",
			components.BtnPrimary,
			components.BtnMedium,
			templ.Attributes{
				"hx-get":    fmt.Sprintf("/partials/goal/%s/complete", g.ID),
				"hx-target": "#dialog-root",
				"hx-swap":   "beforeend",
			},
			components.IconLeft,
			components.CheckSvg(0, "", ""),
		)
	}
	{{
		extraQuery := ""
		if g.ClosedAt != nil {
			extraQuery = fmt.Sprintf("&closedAt=%s", views.FormatDateOnly(*g.ClosedAt))
		}
	}}
	<div
		class="chart-container mt-xl"
		style="margin-top: calc(-1 * var(--spacing-md));"
		hx-get={ fmt.Sprintf("/partials/charts/account-hist/%s?start=%s&max=%d%s", g.ID, g.StartDate.Format(time.DateOnly), g.TargetAmount, extraQuery) }
		hx-trigger="load"
	>
		@components.Loader("htmx-indicator h-full", nil)
	</div>
	<div class="goal-grid">
		<div id="goal-details">
			if g.ClosedAt != nil {
				<div class="card mb-md">
					<h4 class="card__title mb-md">Outcome</h4>
					<ul class="goal-details__list">
						<li class="goal-details__item">
							<span class="goal-details__key">Total contributed</span>
							<span class="goal-details__value">{ views.FormatMoney(float64(g.Amount)/100, currency.EUR, language.AmericanEnglish) }</span>
						</li>
						<li class="goal-details__item">
							<span class="goal-details__key">Duration</span>
							<span class="goal-details__value">{ views.DateDiffString(g.StartDate, *g.ClosedAt) }</span>
						</li>
						<li class="goal-details__item">
							<span class="goal-details__key">Avg. per month</span>
							<span class="goal-details__value">{ views.FormatMoney(float64((g.Amount/100) / views.MonthDiff(g.StartDate, *g.ClosedAt)), currency.EUR, language.AmericanEnglish) }</span>
						</li>
						<li class="goal-details__item">
							<span class="goal-details__key">
								if g.Status == views.CompletedStatus {
									Completed
								} else {
									Cancelled
								}
							</span>
							<span class="goal-details__value">{ views.FormatDate(*g.ClosedAt) }</span>
						</li>
					</ul>
				</div>
			}
			<div class="card">
				<div class="flex justify-between w-full">
					<h4 class="card__title mb-md">Details</h4>
					<button
						class="reset-btn goal-details__pen-btn"
						hx-get={ fmt.Sprintf("/partials/goal/%s", g.ID) }
						hx-target="#dialog-root"
						hx-swap="beforeend"
					>
						@components.PenSvg(14, "", "")
					</button>
				</div>
				<ul class="goal-details__list">
					<li class="goal-details__item">
						<span class="goal-details__key">Status</span>
						if g.ClosedAt != nil {
							@components.Badge("capitalize", string(g.Status), components.BadgeClosed)
						} else {
							@components.Badge("capitalize", string(g.Status), components.BadgeChecking)
						}
					</li>
					<li class="goal-details__item">
						<span class="goal-details__key">Category</span>
						<span class="goal-details__value">{ g.Category }</span>
					</li>
					<li class="goal-details__item">
						<span class="goal-details__key">Target amount</span>
						<span class="goal-details__value">
							{ views.FormatMoney(float64(g.TargetAmount)/100,currency.EUR, language.AmericanEnglish) }
						</span>
					</li>
					if g.ClosedAt == nil {
						<li class="goal-details__item">
							<span class="goal-details__key">Left</span>
							<span class="goal-details__value">
								{ views.FormatMoney(float64(g.AmountLeft / 100), currency.EUR, language.AmericanEnglish) }
								if g.MonthlyNeeded != "-" {
									<span class="text-xs">({ g.MonthlyNeeded }/mo)</span>
								}
							</span>
						</li>
					}
					<li class="goal-details__item">
						<span class="goal-details__key">Start date</span>
						<span class="goal-details__value">{ views.FormatDate(g.StartDate) }</span>
					</li>
					if g.TargetDate != nil {
						<li class="goal-details__item">
							<span class="goal-details__key">Target date</span>
							<span class="goal-details__value">{ views.FormatDate(*g.TargetDate) }</span>
						</li>
					}
					<li class="goal-details__item">
						<span class="goal-details__key">Note</span>
						if g.Note != "" {
							<span class="goal-details__value truncate">{ g.Note }</span>
						} else {
							<span class="goal-details__value truncate text-muted italic">No note</span>
						}
					</li>
				</ul>
			</div>
		</div>
		<div id="history">
			<div class="flex justify-between">
				<h4 class="card__title">History</h4>
				<div class="flex items-start gap-xs">
					<span class="text-muted text-xs">
						<span id="contribution-count">{ ttCount }</span> movements
					</span>
					<a class="text-xs" href={ fmt.Sprintf("/ledger?accounts=%s", g.ID) }>
						view all
					</a>
				</div>
			</div>
			if ttCount > 0 {
				@contributionsList(tt, fmt.Sprintf("page=2&accounts=%s&name=%s", g.ID, g.Name), hasMore)
			} else {
				@components.EmptyContributions(g.ID)
			}
		</div>
	</div>
}

templ contributionsList(transactions []views.Transaction, queryStr string, hasMore bool) {
	<ul
		id="icontributions"
		class="space-y-sm"
		hx-indicator="#infinite-indicator"
		hx-disinherit="hx-indicator"
	>
		@partials.ContributionsListItems(transactions, queryStr, hasMore)
	</ul>
	<div id="infinite-indicator" class="indicator">
		@components.Loader("", nil)
	</div>
}
