.badge {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
  padding: 0 var(--spacing-sm);
  font-size: var(--font-size-xs);
  border-radius: var(--radius-xl);
}

.badge--needs {
  color: var(--color-on-needs);
  background-color: var(--color-needs);
}

.badge--wants {
  color: var(--color-on-wants);
  background-color: var(--color-wants);
}

.badge--savings {
  color: var(--color-on-savings);
  background-color: var(--color-savings);
}
