.breadcrumbs {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  margin-bottom: var(--spacing-lg);
}

.breadcrumbs {
  font-size: var(--font-size-lg);
}

.breadcrumbs__link[href]:hover {
  font-size: var(--font-size-lg);
  text-decoration: underline;
}

@scope (.breadcrumbs) {
  .breadcrumbs__link:last-child {
    font-weight: 600;
    text-decoration: none;
  }

  i {
    height: 20px;
  }
}

.breadcrumbs-selection {
  font-size: var(--font-size-md);
}

@scope (.breadcrumbs-selection) {
  > li {
    padding: 0 var(--spacing-sm);
    margin-top: var(--spacing-xs);
    cursor: pointer;
    border-radius: var(--radius-xs);
  }

  > li:first-child {
    margin-top: 0;
  }

  > li:hover {
    background-color: var(--color-bg-muted);
  }

  a {
    display: block;
    width: 100%;
    font-weight: 400 !important;
  }
}
