.calendar {
  width: fit-content;
}

.calendar .dropdown {
  width: 4.625rem;
}

.calendar > div:nth-child(2),
.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--spacing-xs);
  place-items: center center;
}

.calendar__days > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: var(--font-size-sm);
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.calendar__days > div:hover,
.calendar__days > div.calendar__day--selected {
  background-color: var(--color-border);
}
