.dropdown > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--spacing-xs);
}

.dropdown > button > i {
  margin-left: var(--spacing-xs);
}

.popover {
  display: none;
  margin: 0;
  inset: auto;
  position-try-fallbacks: flip-block, flip-inline;
  position-try: flip-block;
  border: none;
  background-color: transparent;
}

.popover:popover-open {
  display: block;
}

@scope (.dropdown) {
  .popover {
    display: none;
    margin: 0;
    inset: auto;
    top: anchor(bottom);
    right: anchor(right);
    position-try-fallbacks: flip-block;
    position-try: flip-block;
    border: none;
    padding-top: 4px;
    background-color: transparent;
    box-shadow: var(--shadow-lg);

    opacity: 0;
    transform: translateY(-8px);

    transition:
      opacity 200ms,
      transform 200ms,
      display 200ms allow-discrete,
      overlay 200ms allow-discrete;

    transition-behavior: allow-discrete;
  }

  .popover.min-w {
    min-width: anchor-size(width);
  }

  .popover > div {
    color: var(--color-text);
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    padding: var(--spacing-xs);
    border-radius: var(--radius-sm);
    max-height: 13rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }

  .popover:popover-open {
    opacity: 1;
    transform: translateY(0);

    @starting-style {
      opacity: 0;
      transform: translateY(-8px);
    }
  }
}
