.dropdown > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--spacing-xs);
}

.dropdown > button > i {
  margin-left: var(--spacing-xs);
}

@scope (.dropdown) {
  .popover {
    display: none;
    margin: 0;
    inset: auto;
    top: anchor(bottom);
    right: anchor(right);
    position-try-fallbacks: flip-inline;
    position-try: flip-inline;
    border: none;
    padding-top: 4px;
    background-color: transparent;
    box-shadow: var(--shadow-lg);
  }
  .popover.min-w {
    min-width: anchor-size(width);
  }

  .popover:popover-open {
    display: block;
  }

  .popover > div {
    color: var(--color-text);
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    padding: var(--spacing-xs);
    border-radius: var(--radius-sm);
    max-height: 13rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }
}
