.dropdown > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--spacing-xs);
}

.dropdown > button > i {
  margin-left: var(--spacing-xs);
}

.popover {
  display: none;
  margin: 0;
  inset: auto;
  position-try-fallbacks: flip-block, flip-inline;
  position-try: flip-block;
  border: none;
  background-color: transparent;
}

.popover:popover-open {
  display: block;
}

.dropdown__menu {
  display: none;
  margin: 0;
  inset: auto;
  top: anchor(bottom);
  right: anchor(right);
  position-try-fallbacks: flip-block;
  position-try: flip-block;
  margin-top: 4px;
  box-shadow: var(--shadow-lg);

  color: var(--color-text);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  padding: var(--spacing-xs);
  border-radius: var(--radius-sm);
  max-height: 13rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;

  transform-origin: top;
  transform: scaleY(0);

  transition: transform 100ms ease-in-out;

  transition-behavior: allow-discrete;
}

.dropdown__menu.min-w {
  min-width: anchor-size(width);
}

.dropdown__menu:popover-open {
  transform: scaleY(1);

  @starting-style {
    transform: scaleY(0);
  }
}
