.goal-list {
  margin-top: var(--spacing-sm);
  display: grid;
  gap: var(--spacing-sm);
}

@container main (min-width: 675px) {
  .goal-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@container main (min-width: 1200px) {
  .goal-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.goal-card {
  border: 1px solid var(--color-border);
  padding: var(--spacing-sm);
  border-radius: var(--radius-md);
  cursor: pointer;
}
.goal-card:hover {
  background-color: var(--color-bg-secondary);
}

.goal-card__target-date {
  font-size: 0.75rem;
  color: var(--color-text-secondary);
}

.goal-card__amount,
.goal-card__percentage {
  font-size: 1.125rem;
}

.goal-card__percentage {
  color: var(--color-primary);
}

.goal-card__complete-bar {
  position: relative;
  height: var(--spacing-sm);
  width: 100%;
}

.goal-card__complete-bar > span {
  display: block;
  position: absolute;
  width: 100%;
  height: var(--spacing-sm);
  background-color: var(--color-primary);
  border-radius: var(--radius-xl);
}

.goal-card__complete-bar > span:first-child {
  opacity: 0.35;
}

.goal-card__subinfo {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.goal-card__subinfo > div {
  display: grid;
}

.goal-card__subinfo > div > span:first-child {
  color: var(--color-text-secondary);
}

.goal-card__subinfo > div:last-child {
  text-align: right;
}
