/* Input */
@scope (.input-group) {
  > label {
    font-weight: 500;
    color: var(--color-text-secondary);
    font-size: var(--font-size-xs);
  }

  > label > span {
    font-weight: 300;
    color: var(--color-text-secondary);
  }

  > *:nth-child(2) {
    margin-top: var(--spacing-xs);
  }
}

.input-group__message {
  display: none;
  padding-left: var(--radius-md);
  color: var(--color-error);
  font-size: var(--font-size-xs);
}

@scope (.input-group--error) {
  .input-group__message {
    display: block;
  }
}

.input:not([type="checkbox"], [type="radio"]) {
  width: 100%;
}

.input {
  display: block;
  padding: var(--spacing-sm) var(--spacing-md);
  font-family: var(--font-body);
  font-size: var(--font-size-sm);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-muted);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  transition: border-color 0.2s ease;
}

.input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: var(--shadow-focus);
  background-color: var(--color-input-focus);
}

.input::placeholder {
  color: var(--color-text-secondary);
}

.input--error:not(:focus) {
  border-color: var(--color-error);
}

.input ~ div {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  place-items: center center;
  gap: var(--spacing-xs);
}

.input ~ div i {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.input ~ div > .input__feedback {
  display: none;
  color: var(--color-error);
}

input.input--error:not(:focus),
.input:has(+ div .input__pwd-toggle) {
  padding-right: calc(20px + var(--spacing-md));
}

.input--error[type="password"] {
  padding-right: calc(40px + var(--spacing-md));
}

.input--error:not(:focus) ~ div > .input__feedback {
  display: flex;
}

.input:disabled {
  background-color: var(--color-border);
  border: 1px solid var(--color-border);
  cursor: not-allowed;
  opacity: 0.7;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--font-size-sm);
  width: fit-content;
}

.checkbox input {
  opacity: 0;
  display: none;
}

.checkbox:has(input:disabled) {
  cursor: not-allowed;
  opacity: 0.5;
}

.checkbox__box {
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.checkbox__box svg {
  object-fit: contain;
  display: none;
  color: var(--color-text-inverse);
}

input:checked + .checkbox__box {
  background-color: var(--color-text);
  border: white;
}

input:checked + .checkbox__box svg {
  display: block;
}

input:focus + .checkbox__box {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: var(--shadow-focus);
}

/* Search bar */
.search-bar {
  position: relative;
}

.search-bar > input {
  padding-left: 2.5rem;
}

.search-bar > i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.search-bar svg {
  width: 1rem;
  height: 1rem;
}

/* check pill */
.check-pill {
  border-radius: var(--radius-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  padding-right: var(--spacing-sm);
  height: 1.7rem;
  border: 1px solid var(--color-text);
  width: fit-content;
  cursor: pointer;
  text-wrap: nowrap;
}

.check-pill span {
  text-box-trim: trim-both;
}

.check-pill > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 1px solid var(--color-text);
  color: var(--color-bg);
}

.check-pill > div:first-child > svg {
  display: none;
}

.check-pill:has(input[type="checkbox"]:checked) > div:first-child {
  background-color: var(--color-text);
}

.check-pill:has(input[type="checkbox"]:checked) > div:first-child > svg {
  display: block;
}

/* select options */
.select:has(+ span input:disabled) {
  background-color: var(--color-border);
  border: 1px solid var(--color-border);
  opacity: 0.7;
  pointer-events: none;
  cursor: not-allowed;
}

@scope (.options) {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-sm);
    margin-top: var(--spacing-xs);
    cursor: pointer;
    border-radius: var(--radius-xs);
    gap: var(--spacing-xs);
  }

  li:first-child {
    margin-top: 0;
  }

  li > svg {
    visibility: hidden;
  }

  li.options__item--selected,
  li:hover {
    background-color: var(--color-bg-muted);
  }

  li.options__item--selected > svg {
    visibility: visible;
  }
}

/* date */
.date-input__popover {
  display: none;
  margin: 0;
  inset: auto;
  top: anchor(bottom);
  border: none;
  padding-top: calc(4px + var(--spacing-sm));
  background-color: transparent;
  box-shadow: var(--shadow-lg);
  position-try-fallbacks: flip-block;
  position-try: flip-block;
}

@media (width >= 600px) {
  .date-input__popover {
    right: anchor(right);
  }
}

.date-input__popover--min-w {
  min-width: anchor-size(width);
}

.date-input__popover:popover-open {
  display: block;
}

.date-input__popover > div {
  color: var(--color-text);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  padding: var(--spacing-sm);
  border-radius: var(--radius-sm);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;
}

.date-input:has(input:disabled) .date-input__icon {
  pointer-events: none;
  opacity: 0.4;
  cursor: not-allowed;
}

/* time */
.date-input__time {
  display: flex;
  gap: var(--spacing-sm);
}

.date-input__time > div {
  width: 100px;
}

.date-input__time ul {
  margin-top: var(--spacing-xs);
  height: 150px;
  overflow-y: scroll;
  border-radius: var(--radius-xs);
  border: 1px solid var(--color-border);
  scrollbar-width: thin;
}

.toggle-switch {
  display: grid;
  grid-template-columns: repeat(var(--count), 1fr);
  border: 0.5px solid var(--color-border);
  border-radius: var(--radius-md);
  padding: 3px;
  gap: 2px;
  cursor: pointer;
  user-select: none;
}

.toggle-switch label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 6px 16px;
  border-radius: 6px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-text-tertiary);
  transition: all 0.15s;
  white-space: nowrap;
  border: 0.5px solid transparent;
}

.toggle-switch input:checked + label {
  background: var(--color-bg-muted);
  color: var(--color-text);
  border: 0.5px solid var(--color-border);
}

.toggle-switch input {
  width: 0;
  visibility: hidden;
  display: none;
}

.no-outline:focus {
  box-shadow: none !important;
}

.scan {
  position: relative;
  background-image: linear-gradient(
    90deg,
    transparent 20%,
    rgb(255 255 255 / 5%) 40%,
    rgb(94 239 239 / 35%) 50%,
    rgb(255 255 255 / 5%) 60%,
    transparent 80%
  );
  background-size: 250% 100%;
  background-repeat: no-repeat;
  background-position: -30% 0;
  animation: scan-animation 0.75s linear;
}

@keyframes scan-animation {
  to {
    background-position: 200% 0;
  }
}

.slider {
  position: relative;
  height: 36px;
  display: flex;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
  touch-action: none;
  cursor: pointer;
}

.slider__bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 2px;
  background: var(--color-border);
}

.slider__fill {
  position: absolute;
  height: 2px;
  border-radius: 2px;
  background: var(--color-primary);
}

.slider__thumb {
  position: absolute;
  width: 2px;
  height: 20px;
  background: var(--color-primary);
  transform: translateX(-50%);
  cursor: grab;
  z-index: 2;
  transition: box-shadow 0.1s;
}

.slider__thumb.active {
  width: 2.5px;
  height: 22px;
}
