.tdetails__amount-label {
  color: var(--color-text-secondary);
}

.tdetails__amount {
  font-size: var(--font-size-2xl);
  font-weight: 600;
}

.tdetails__desc-label {
  color: var(--color-text-secondary);
}

.tdetails__desc {
  font-size: var(--font-size-lg);
}

.tdetails__key {
  color: var(--color-text-secondary);
}
