#transactions-filters {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: var(--spacing-md);
}

.transactions-filters__body {
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;
}

.curr-filters__wrapper:has(#curr-filters:empty) {
  display: none;
}

#transactions-filters:has(#curr-filters:empty)
  .btn[data-action="ui.filters.reset"] {
  display: none;
}

#curr-filters a {
  display: block;
  width: 100%;
  text-align: right;
  margin-bottom: var(--spacing-xs);
}
#curr-filters a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.pill {
  font-size: 0.85rem;
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-xs);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  background-color: #000;
  color: #fff;
  border-radius: var(--radius-xl);
  text-box-trim: trim-both;
}
.pill span {
  cursor: default;
}
