/* ===== RESET ===== */

/* Reset margins, padding, and borders */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Make headings and paragraphs consistent */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove link underlines */
a {
  text-decoration: none;
  color: inherit;
}

/* Set images to scale properly */
img {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

/* ===== VARIABLES ===== */
:root {
  /* COLOR (layer 1) */
  --cian-100: oklch(0.875 0.123 195.1);
  --cian-200: oklch(0.754 0.106 195.1);
  --cian-300: oklch(0.631 0.088 195.1);
  --cian-400: oklch(0.511 0.072 195.1);
  --cian-500: oklch(0.389 0.055 195.1);
  --cian-600: oklch(0.269 0.038 195.2);
  --cian-700: oklch(0.176 0.025 195.1);
  --cian-base: oklch(0.511 0.072 195.1);
  --purple-100: oklch(0.88 0.015 332.3);
  --purple-200: oklch(0.758 0.034 332.3);
  --purple-300: oklch(0.67 0.071 334.6);
  --purple-400: oklch(0.513 0.039 332.4);
  --purple-500: oklch(0.389 0.03 332.6);
  --purple-600: oklch(0.265 0.018 333.9);
  --purple-700: oklch(0.178 0.014 331.8);
  --purple-base: oklch(0.513 0.039 332.4);
  --green-100: oklch(0.886 0.083 146.9);
  --green-200: oklch(0.764 0.071 146.7);
  --green-300: oklch(0.642 0.059 147.2);
  --green-400: oklch(0.521 0.048 146.9);
  --green-500: oklch(0.398 0.038 146.2);
  --green-600: oklch(0.275 0.024 147.3);
  --green-700: oklch(0.177 0.018 144.8);
  --green-base: oklch(0.764 0.071 146.7);
  --orange-100: oklch(0.9 0.031 27.8);
  --orange-200: oklch(0.782 0.077 29);
  --orange-300: oklch(0.665 0.134 33.7);
  --orange-400: oklch(0.539 0.11 33.2);
  --orange-500: oklch(0.413 0.082 34.2);
  --orange-600: oklch(0.288 0.058 33.7);
  --orange-700: oklch(0.18 0.036 33.4);
  --orange-base: oklch(0.665 0.134 33.7);
  --grey-100: oklch(0.887 0.007 197);
  --grey-200: oklch(0.764 0.005 197.1);
  --grey-300: oklch(0.64 0.005 197);
  --grey-400: oklch(0.517 0.006 145.5);
  --grey-500: oklch(0.396 0.003 197);
  --grey-600: oklch(0.272 0.001 197.1);
  --grey-700: oklch(0.176 0.002 197);
  --grey-base: oklch(0.517 0.006 145.5);
  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-200: oklch(0.922 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-400: oklch(0.708 0 0);
  --color-neutral-500: oklch(0.556 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-800: oklch(0.269 0 0);
  --color-neutral-900: oklch(0.205 0 0);
  --color-neutral-950: oklch(0.145 0 0);

  /* to work with the theme option */
  --color-bg-light: oklch(1 0 0);
  --color-bg-secondary-light: oklch(0.968 0.007 197);
  --color-bg-dark: oklch(0.3211 0 0);
  --color-bg-secondary-dark: oklch(0.338 0.004 197);

  /* COLOR (layer 2) */

  /* neutral */
  --color-neutral-primary: white;
  --color-on-neutral-primary: var(--color-neutral-600);
  --color-on-neutral-primary-strong: var(--color-neutral-900);

  /* background */
  --color-bg: var(--color-bg-light); /* Main app/page background */
  --color-bg-secondary: var(--color-bg-secondary-light); /* Sub-sections */
  --color-bg-muted: oklch(0.859 0.019 196.8); /* Subtle backgrounds */
  --color-surface: oklch(0.973 0.003 84.6); /* Cards, panels, modals */
  --color-surface-hover: oklch(0.968 0.007 197); /* Hovered card */
  --color-overlay: rgb(0 0 0 / 50%); /* Modal overlay */

  /* text */
  --color-text: var(--cian-600); /* Primary text */
  --color-text-secondary: var(--grey-400); /* Muted text */
  --color-text-inverse: oklch(1 0 0); /* Text on dark/primary */
  --color-text-disabled: oklch(0.45 0.049 195.6); /* Disabled text */
  --color-link: var(--cian-200); /* Links */
  --color-link-hover: var(--cian-300);

  /* border */
  --color-border: oklch(0.906 0.027 196.7); /* Default borders */
  --color-border-secondary: var(--grey-100); /* Default borders */

  /* primary */
  --color-primary: var(--cian-200);
  --color-primary-hover: oklch(0.827 0.117 195.1);
  --color-primary-muted: oklch(
    0.792 0.052 196.1
  ); /* Light background version */
  --color-on-primary: var(--cian-600); /* Text on primary */

  /* secondary */
  --color-secondary: oklch(0.935 0.009 78.3);
  --color-secondary-hover: oklch(0.906 0.027 196.7);
  --color-on-secondary: var(--cian-600);

  /* feedback */
  --color-success: oklch(0.608 0.15 151.6);
  --color-success-hover: oklch(0.608 0.15 151.6);
  --color-success-bg: oklch(0.932 0.029 159.9);
  --color-success-border: oklch(0.608 0.15 151.6);
  --color-on-success: oklch(0.608 0.15 151.6);
  --color-warning: oklch(0.788 0.161 78.5);
  --color-warning-hover: oklch(0.788 0.161 78.5);
  --color-warning-bg: oklch(0.945 0.051 84.5);
  --color-warning-border: oklch(0.788 0.161 78.5);
  --color-on-warning: oklch(0.788 0.161 78.5);
  --color-error: oklch(0.515 0.204 30);
  --color-error-hover: oklch(0.444 0.175 30);
  --color-error-bg: oklch(0.916 0.032 53.5);
  --color-error-border: oklch(0.515 0.204 30);
  --color-on-error: oklch(0.515 0.204 30);
  --color-error-lighter: oklch(0.5771 0.2152 27.33);
  --color-info: oklch(0.569 0.172 263.4);
  --color-info-hover: oklch(0.569 0.172 263.4);
  --color-info-bg: oklch(0.912 0.03 257.8);
  --color-info-border: oklch(0.569 0.172 263.4);
  --color-on-info: oklch(0.569 0.172 263.4);

  /* expense types  */
  --color-needs: var(--green-200);
  --color-on-needs: var(--green-500);
  --color-wants: var(--orange-300);
  --color-on-wants: var(--orange-600);
  --color-savings: var(--purple-200);
  --color-on-savings: var(--purple-600);
  --color-positive: oklch(0.623 0.123 165.5);
  --color-on-positive: oklch(from var(--color-positive) l c h / 12%);
  --color-negative: oklch(0.654 0.193 25.1);
  --color-on-negative: oklch(from var(--color-negative) l c h / 12%);
  --color-ambivalent: oklch(0.788 0.161 78.5);
  --color-on-ambivalent: oklch(from var(--color-ambivalent) l c h / 12%);

  /* Typography */

  /* Font Families */
  --font-sans: system-ui, sans-serif;
  --font-mono: monospace;
  --font-heading: var(--font-sans);
  --font-body: var(--font-sans);

  /* Font Sizes */
  --font-size-xxs: 0.625rem; /* 10px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px (base) */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;

  /* Border Radius */
  --radius-xs: 0.125rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-full: calc(infinity * 1px);

  /* Shadows */
  --shadow-focus: 0 0 0 3px oklch(from var(--cian-300) l c h / 40%);
  --shadow-focus-error: 0 0 0 3px oklch(from var(--color-error) l c h / 40%);
  --shadow-focus-needs: 0 0 0 3px oklch(from var(--color-needs) l c h / 40%);
  --shadow-focus-wants: 0 0 0 3px oklch(from var(--color-wants) l c h / 40%);
  --shadow-focus-savings: 0 0 0 3px oklch(from var(--color-savings) l c h / 40%);
  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl:
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

::selection {
  color: var(--color-text);
  background: oklch(0.792 0.052 196.1);
}

[data-theme="dark"] {
  /* COLOR (layer 2) */

  /* neutral */
  --color-neutral-primary: var(--color-neutral-950);
  --color-on-neutral-primary: var(--color-neutral-300);
  --color-on-neutral-primary-strong: white;

  /* background */
  --color-bg: var(--color-bg-dark); /* Main app/page background */
  --color-bg-secondary: var(--color-bg-secondary-dark); /* Sub-sections */
  --color-bg-muted: oklch(0.445 0.017 196.5); /* Subtle backgrounds */
  --color-surface: oklch(0.3407 0 0); /* Cards, panels, modals */
  --color-surface-hover: oklch(0.33329 0 0); /* Hovered card */
  --color-overlay: rgb(0 0 0 / 50%); /* Modal overlay */

  /* text */
  --color-text: oklch(1 0 0); /* Primary text */
  --color-text-secondary: var(--grey-200); /* Muted text */
  --color-text-inverse: var(--cian-600); /* Text on dark/primary */
  --color-text-disabled: var(--grey-300); /* Disabled text */
  --color-link: var(--cian-100); /* Links */
  --color-link-hover: var(--cian-200);

  /* border */
  --color-border: var(--grey-400); /* Default borders */
  --color-border-secondary: var(--grey-500); /* Default borders */

  /* primary */
  --color-primary: var(--cian-100);
  --color-primary-hover: var(--cian-200);
  --color-primary-muted: oklch(
    0.792 0.052 196.1
  ); /* Light background version */
  --color-on-primary: var(--cian-600); /* Text on primary */

  /* secondary */
  --color-secondary: oklch(0.284 0.004 106.6);
  --color-secondary-hover: oklch(0.351 0.005 106.7);
  --color-on-secondary: oklch(0.9642 0 0);

  /* feedback */
  --color-success: oklch(0.608 0.15 151.6);
  --color-success-hover: oklch(0.608 0.15 151.6);
  --color-success-bg: oklch(0.932 0.029 159.9);
  --color-success-border: oklch(0.608 0.15 151.6);
  --color-on-success: oklch(0.608 0.15 151.6);
  --color-warning: oklch(0.788 0.161 78.5);
  --color-warning-hover: oklch(0.788 0.161 78.5);
  --color-warning-bg: oklch(0.945 0.051 84.5);
  --color-warning-border: oklch(0.788 0.161 78.5);
  --color-on-warning: oklch(0.788 0.161 78.5);
  --color-error: oklch(0.515 0.204 30);
  --color-error-hover: oklch(0.59 0.237 29.8);
  --color-error-bg: oklch(0.916 0.032 53.5);
  --color-error-border: oklch(0.515 0.204 30);
  --color-on-error: oklch(0.515 0.204 30);
  --color-info: oklch(0.569 0.172 263.4);
  --color-info-hover: oklch(0.569 0.172 263.4);
  --color-info-bg: oklch(0.912 0.03 257.8);
  --color-info-border: oklch(0.569 0.172 263.4);
  --color-on-info: oklch(0.569 0.172 263.4);

  ::selection {
    color: var(--cian-100);
    background-color: oklch(from var(--color-primary) l c h / 10%);
  }
}

body {
  font-family: var(--font-body);
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* ===== TYPOGRAPHY ===== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

.heading-display {
  font-size: var(--font-size-5xl);
  font-weight: 700;
  line-height: 1.1;
}

h1,
.h1 {
  font-size: var(--font-size-4xl);
}

h2,
.h2 {
  font-size: var(--font-size-3xl);
}

h3,
.h3 {
  font-size: var(--font-size-2xl);
}

h4,
.h4 {
  font-size: var(--font-size-xl);
}

h5,
.h5 {
  font-family: var(--font-body);
  font-size: var(--font-size-lg);
}

h6,
.h6 {
  font-family: var(--font-body);
  font-size: var(--font-size-md);
}

p,
.text-base {
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 1.6;
}

.text-subtitle {
  font-size: var(--font-size-lg);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text-secondary);
}

.text-caption {
  font-size: var(--font-size-xs);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

hr,
.separator {
  height: 1px;
  margin: var(--spacing-md) 0;
  background-color: var(--color-border);
  border: none;
}

.indicator {
  display: none;
}

.htmx-request .indicator,
.htmx-request.indicator {
  display: inline;
}

/* ===== ANIMATIONS ===== */
@keyframes pop {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show-dialog {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes scale-y {
  0%,
  60%,
  100% {
    height: 1rem;
  }

  30% {
    height: 1.5rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* === css transition slide === */
@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-100%);
  }
}
