/* === main === */
html {
  min-height: 100vh;
}

.main {
  padding: var(--spacing-md);
  background-color: var(--color-bg);
}

.main:focus() {
  outline: none;
  box-shadow: none;
}

#sidebar {
  display: none !important;
}

#nav-sheet {
  background-color: var(--color-bg-secondary);
  padding: var(--spacing-md) var(--spacing-sm);
  padding-top: 0;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  transition: transform 200ms ease-in;
  animation: slide-up 200ms ease-in;

  max-width: 100vw;
  width: 100%;
  margin: auto 0 0 0;
  border: none;
}

#nav-sheet:open {
  touch-action: none;
}

#nav-sheet::backdrop {
  background-color: var(--color-overlay);
  backdrop-filter: blur(1px);
}

#nav-sheet.closing {
  transform: translateY(100%) !important;
}

#nav-sheet:focus {
  outline: none;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

#nav-sheet > div {
  width: 100%;
  height: var(--spacing-md);
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-sheet > div > div {
  width: 3rem;
  height: 3px;
  border-radius: var(--radius-md);
  background-color: var(--color-border);
}

@media (min-width: 600px) {
  body:has(.main) {
    background-color: var(--color-bg-secondary);
    display: grid;
    grid-template-columns: auto 1fr;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
  }

  #sidebar {
    display: flex !important;
  }

  #nav-sheet {
    display: none !important;
  }

  .main {
    margin: var(--spacing-sm);
    margin-left: 0;
    border-radius: var(--radius-md);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }

  .header {
    display: none !important;
  }
}

/* === login === */
#login-main {
  padding: var(--spacing-sm);
  padding-left: 0;
  height: 100vh;
  overflow: hidden;
}

@scope (#login-main) {
  header {
    display: flex;
    padding-left: var(--spacing-xs);
    align-items: center;
    gap: 0.2rem;
  }

  #content {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  #content > div {
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-lg);
    justify-content: center;
  }

  #content form {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25rem;
  }

  #content > form > h2 {
    text-align: center;
  }

  #content > form > .btn {
    align-self: flex-end;
  }

  a {
    color: var(--color-link);
    cursor: pointer;
  }

  a:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
  }

  .img-container {
    object-fit: contain;
    position: absolute;
  }

  .img-container svg {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  }
}

#coin-matrix {
  visibility: hidden;
  background-color: var(--color-bg-secondary);
  height: 100%;
  border-radius: var(--radius-md);
  position: relative;
  overflow: hidden;
  cursor: crosshair;
}

@media (min-width: 768px) {
  #login-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #coin-matrix {
    display: block;
    visibility: visible;
  }
}
