/* === main === */
html {
  min-height: 100vh;
}

.main {
  scroll-behavior: smooth;
  container-type: inline-size;
  container-name: main;
  scroll-padding-top: var(--spacing-md);
  padding: var(--spacing-md);
  background-color: var(--color-bg);
  overflow-x: hidden;

  @media (width >= 600px) {
    margin: var(--spacing-sm);
    margin-left: 0;
    border-radius: var(--radius-md);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }
}

.main:focus {
  outline: none;
  box-shadow: none;
}

#content {
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

html:active-view-transition-type(theme) #content {
  view-transition-name: none;
}

#sidebar {
  display: none;

  @media (width >= 600px) {
    display: flex;
  }
}

@media (width >= 600px) {
  body:has(.main) {
    background-color: var(--color-bg-secondary);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
  }

  #nav-sheet {
    display: none;
  }

  .header {
    display: none;
  }
}

::view-transition-old(navigate-forward) {
  animation: 250ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(navigate-forward) {
  animation:
    250ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(navigate-back) {
  animation: 250ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(navigate-back) {
  animation:
    250ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
