package components

templ DialogWrapper(class string, title string, attrs templ.Attributes) {
	<div
		class="dialog__overlay"
		tabindex="-1"
		hx-on::load="document.body.classList.add('dialog-open'); this.focus()"
	>
		<div
			class={ "dialog", templ.KV(class, class != "") }
			{ attrs... }
		>
			<div class="dialog__bar">
				<div></div>
			</div>
			<button class="reset-btn dialog__x" data-action="ui.dialog.close-last">
				@XSvg(16, "", "")
			</button>
			<h4 class="mb-md">{ title }</h4>
			{ children... }
		</div>
	</div>
}
