package components

templ DialogWrapper(class string, attrs templ.Attributes) {
	<dialog class={ "dialog", templ.KV(class, class != "") } tabindex="-1" hx-on::load="this.showModal(); this.focus()" { attrs... }>
		<div>
			<div></div>
		</div>
		{ children... }
	</dialog>
}
