package components

templ DialogWrapper(class string, attrs templ.Attributes) {
	<dialog class="dialog" hx-on::load="this.showModal()" { attrs... }>
		<div>
			<div></div>
		</div>
		<div>
			{ children... }
		</div>
	</dialog>
}
