package components

import "fmt"

type size string

const (
	XS  size = "xs"
	SM  size = "sm"
	MD  size = "md"
	LG  size = "lg"
	XL  size = "xl"
	XXL size = "2xl"
)

templ Logo() {
	<div class="logo unselectable">
		<img src="/static/assets/logos/logoAsset2.svg" width="32px"/>
		<h1>Piggytron</h1>
	</div>
}

templ Notification() {
	<div class="notification">
		<p>9+</p>
	</div>
}

var SizeMap map[size]int = map[size]int{
	XS:  6,
	SM:  8,
	MD:  10,
	LG:  14,
	XL:  20,
	XXL: 24,
}

templ Avatar(class, src string, size size) {
	if src != "" {
		<img
			class={ "rounded-full object-cover", fmt.Sprintf("size-%d", SizeMap[size]) }
			src={ src }
			alt="Rounded avatar"
		/>
	} else {
		<span class={ "avatar", fmt.Sprintf("size-%d", SizeMap[size]), templ.KV(class, class != "") }>
			@UserSvg(0, "", "")
		</span>
	}
}

templ ProfilePic(showNotification bool) {
	<div class="pfp">
		@Avatar("", "", SM)
		if showNotification {
			@Notification()
		}
	</div>
}

templ Header() {
	<header class="header">
		@Logo()
		<div>
			<div class="relative flex items-center justify-center">
				@BellSvg(0, "", "")
				@Notification()
			</div>
			@ProfilePic(false)
			<button
				class="reset-btn flex justify-center items-center cursor-pointer"
				data-action="ui.nav-sheet.open"
			>
				@MenuSvg(0, "", "")
			</button>
		</div>
	</header>
}
