package components

import "fmt"
import "math"

templ ProgressBar(class string, pct float64) {
	<div
		class={ "progress-bar",  templ.KV(class, class != "") }
		style={ fmt.Sprintf("--pct: %f%%", math.Min(pct, 100)) }
	>
		<span class="w-full"></span>
		<span></span>
	</div>
}
