package components

import "fmt"

templ Sidebar() {
	<aside id="sidebar">
		@Logo()
		<div>
			<hr/>
			<div data-action="ui.sidebar.colapse" onclick="">
				@ChevronLeftSvg(16, "", "")
			</div>
		</div>
		@Nav(nil)
		for _, liGroup:= range NavLinks {
			for _, link := range liGroup {
				<div
					data-name={ link.name }
					class="popover"
					id={ link.name + "-popover" }
					popover="auto"
					style={ getAnchorName(link.name) }
					data-mouseout="ui.sidebar.hide-popover"
				>
					<div>
						<span>{ link.name }</span>
						if len(link.sub) > 0 {
							<hr class="hr"/>
							<ul
								hx-target="#content"
								hx-boost="true"
								data-afterrequest="ui.nav.navigate"
							>
								for _, sublink := range link.sub {
									<li>
										<a
											href={ sublink.href }
											class="w-full"
											style="display: block;"
										>
											{ sublink.name }
										</a>
									</li>
								}
							</ul>
						}
					</div>
				</div>
			}
		}
		<div
			class="sidebar__user"
			onclick=""
			data-name="user"
			data-action="ui.popover.show"
			data-mouseover="ui.popover.show"
			data-mouseout="ui.popover.hide"
			data-focus="ui.popover.show"
			data-blur="ui.popover.hide"
			style="anchor-name: --sidebar-user"
		>
			@ProfilePic(false)
			<span>username</span>
		</div>
		<div
			id="user-popover"
			data-name="user"
			class="popover"
			popover="auto"
			data-mouseout="ui.popover.hide"
			style="position-anchor: --sidebar-user"
		>
			<ul class="user-menu">
				<li>
					<a
						hx-target="#content"
						hx-boost="true"
						data-afterrequest="ui.nav.navigate"
						href="/account"
					>Account</a>
				</li>
				<li>
					<a
						hx-target="#content"
						hx-boost="true"
						data-afterrequest="ui.nav.navigate"
						href="/preferences"
					>Preferences</a>
				</li>
				<li>
					@ButtonWithIcon("Logout", "reset-btn", BtnGhost, BtnSmall,
						templ.Attributes{
							"type":   "button",
							"hx-get": "/partials/auth/logout",
						}, IconRigth, LogOutSvg(16, "", ""))
				</li>
			</ul>
		</div>
	</aside>
}

func setAnchorName(name string) map[string]string {
	return map[string]string{
		"anchor-name": fmt.Sprintf("--%s", name),
	}
}

func getAnchorName(name string) map[string]string {
	return map[string]string{
		"position-anchor": fmt.Sprintf("--%s", name),
	}
}
